<h1>Welcome</h1>
<h4>This is one basic application to test the Doxsite-API, using the OAuth service.</h4>
<p>
  <b>Note:</b> You must create a new account in order to continue.
</p>
<p>
  If you are already connected to Doxsite (through API: click <%= link_to 'here', oauth_consumers_path %> to see the current status) you can:
</p>
<hr/>

<p>

</p>
<table class="api_test">
  <tr>
    <th>Object</th>
    <th>Methods</th>
    <th>Note</th>
  </tr>

  <tr>
    <td>Tags</td>
    <td align="right">
      See <%= link_to "All Tags", tags_all_path %>
      <br/>
      Create <%= link_to "New Tags", tags_new_path %>
      <br/>
    </td>
    <td>you can also delete delete tags</td>
  </tr>
  <tr>
    <td>File Assets</td>
    <td align="right">
      See <%= link_to "All File Assets", file_assets_path %>
      <br/>
      Create <%= link_to "New File Assets", new_file_asset_path %>
      <br/>
    </td>
    <td>add tags, untag, delete file asset</td>
  </tr>
  <tr>
    <td>Digital Objects</td>
    <td align="right">
      See <%= link_to "My Digital Object", digital_objects_path %>
    </td>
  </tr>
  <tr>
    <td>Users</td>
    <td align="right">
      Create <%= link_to "New User", new_user_doxsite_path %>
    </td>
  </tr>
  <tr>
    <td>Emails</td>
    <td align="right">
      See <%= link_to "my emails", emails_path %>
    </td>
    <td>add tags, untag, delete emails, show attachments, html and text body, other details</td>
  </tr>
</table>
<hr/>
<p><b>Note:</b> On some pages you will see the details of some objects displayed in <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> format. This is the default format returned by our DOXSITE-API.</p>
