<h1>Listing All File Assets</h1>

<p>Testing the GET method of the API.</p>
<p>In this table you will see the id's of all file assets from dev.doxsite.com. You can also test the GET/DELETE method on one individual file asset clicking SHOW or the DELETE links.</p>
<p>You can also the the POST create method using the New File asset link.</p>
<%= link_to 'New File asset', new_file_asset_path %>
<hr/>
<br />

<table class="listing">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Size</th>
    <th>Type</th>
    <th>Note</th>
  </tr>
  <br/>
  IDs found: <b><%= @file_assets.keys.count %> </b>
  <% @file_assets.each do |key,value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value["name"]%></td>
      <td><%= value["size"]%></td>
      <td><%= value["type"]%></td>
      <td><%= value["note"]%></td>
      <td><%= link_to 'Show', file_asset_path(key.sub("-",":")) %></td>
      <td><%= link_to 'Delete', file_asset_path(key.sub("-",":")), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>